html{
    width: 100%;
    height: 100%;
}

body{
    width: 98%;
    height: 96%;
}


.pagecontainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.topBanner{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 150px;
    background: linear-gradient(290deg,#002e7a,#001d4c);
}

img.topBannerLogo{
    width: 10%;
    flex-shrink: 1; 
    object-fit: scale-down;
    margin: 25px;
}

div.bannerTitle{
    width: 30%;
    height: 100%;
}

div.navigationButtons{
    width: 
}