html{
    width: 100%;
    height: 100%;
}

body{
    width: 98%;
    height: 96%;
}


.pagecontainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    width: 100%;
    height: auto;
    background: linear-gradient(290deg, #eee, #999);
    position: absolute;
    top: 150px;
    padding-left: 50px;
}

.topbanner{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 150px;
    background-color: whitesmoke;
    box-shadow: 0px 4px 4px gray;
    z-index: 1;

}

.topbannertitle{
    font-family: "Tajawal", sans-serif;
    height: 100%;
    font-size: 40px;
    line-height: 150px;
}

img.topbannerlogo{
    height: 60%;
    flex-shrink: 1;
    object-fit: scale-down;
    margin: 25px;
}

div.bannerTitle{
    width: 30%;
    height: 100%;
}

div.navigationButtons{
    width: 40%;
}

div.accountButtons



input[type=text]{
  margin-left: 100px;
}

#post_title{
  width : 500px;
  height: 20px;
}

#location{
  width : 500px;
  height: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
